<footer

>



    <div class="foot2 contact-card">

        <h3>address</h3>
        <ul class="contact-details">
            <li><i class="fas fa-map-marker-alt"></i> Akwa soudanaise, Douala cameroun</li>
            <li><i class="fas fa-envelope"></i> sipoh.cameroun&#64;gmail.com</li>
            <li><i class="fas fa-phone-alt"></i>+237 697 70 38 75</li>
        </ul>
        
    </div>


    <div class="foot2 contact-card">

        <h3>reseaux sociaux</h3>

        <img src="./assets/facebook.png" alt="">
        <img src="./assets/linkedin.png" alt="">
        
    </div>


    <div class="foot2 contact-card">

        <h3>Nos partenaires</h3>

        <img src="assets/Orange_logo 1.png" alt="">

        
    </div>




    <!-- <div class="foot3">
        <img src="./assets/facebook.png" alt="">
        <img src="./assets/linkedin.png" alt="">
    </div> -->
</footer>