<header>
    <app-navbar></app-navbar>
    <main>
        <img src="assets/contactInfo.png" alt="">                
        <div class="contact-container">
            <form action="/envoyer-message" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="exemple@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="subject">Objet</label>
                    <input type="text" id="subject" name="subject" placeholder="Demande de partenariat" required>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4" placeholder="votre message ici" required></textarea>
                </div>
                <button type="submit">Envoyer</button>
          </form>
        </div>
    </main>
</header>
<app-footer></app-footer>