<header>

    <app-navbar></app-navbar>




    <main>

        <img src="assets/contactInfo.png" alt="">

        <div class="news_letter">

            <p>
                Abonnez-vous à notre newsletter <br> pour recevoir nos dernières actualités.

            </p>


                
            <form action="" method="post">



                    <input type="email" name="mail" id="" placeholder="votre email" class="email-input" required="">

                    <button type="submit" class="subscribe-button">

                    subscribe
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                    </button>
            </form>

        </div>
    </main>
    
</header>

