<section class="section4">

    <div class="header"  *ngIf="show" data-aos="zoom-in-down"
    data-aos-anchor-placement="top-center">

        <article>
            <h2>
                Comment ça <br> Marche?
            </h2>

            <p>
                Cela présente un aperçu clair et concis du <br> fonctionnement de notre solution.
            </p>
        </article>


        <img src="assets/mini_kit.png" 
            srcset="assets/mini_kit_mobile.png 390w" 
     sizes="(max-width: 400px) 390px" 
     alt="Description de l'image">

    </div>

    <div class="body" >

        <img 
        *ngIf="show"
         data-aos="zoom-in-down"
         data-aos-anchor-placement="top-center"
         src="assets/scenario.png" alt="" class="baniere">


        <img 
            *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            src="assets/process.png" alt="" class="process"
        >

    </div>


    <div class="news_letter" 

    >

        <p>
            Abonnez-vous à notre newsletter <br> pour recevoir nos dernières actualités.

        </p>


            
        <form action="#" method="">
            <div class="input-wrapper">
                <input type="email" placeholder="Entrez votre e-mail" required>
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </button>
            </div>
        </form>

    </div>
</section>