<header>

    <app-navbar>

    </app-navbar>

    <h1>Team SIPOH</h1>

    
</header>


<main>

    <article>
        <h2>
            Présentation de SIPOH
        </h2>


        <p>
            Chez SIPOH, nous nous engageons à renforcer la sécurité et le bien-être des personnes vulnérables à travers des solutions technologiques innovantes. Nous avons développé un dispositif de sécurité avancé et une plateforme éducative pour protéger les individus contre les agressions sexuelles, les kidnappings d'enfants, et d'autres formes de violence physique. Notre objectif est d’offrir une protection efficace et un soutien essentiel aux victimes.
        </p>


    </article>


    <article>
        <h2>
            Notre Histoire
        </h2>


        <p>
            SIPOH a été créé dans le cadre de la compétition Orange Summer Challenge 2024, avec pour objectif de répondre aux défis croissants en matière de sécurité des personnes vulnérables. En combinant notre expertise en ingénierie numérique et notre passion pour la protection, nous avons conçu une solution innovante qui allie technologie de pointe et sécurité.            </p>


    </article>

    <article>
        <h2>
            Notre Vision et Valeurs
        </h2>


        <p>
            Nous envisionnons un monde où la sécurité est accessible à tous, où chaque individu peut se sentir en sécurité et soutenu. Nos valeurs de compassion, d'intégrité, et d'innovation guident chaque aspect de notre travail et nous poussent à offrir des solutions de qualité qui ont un impact réel.
        </p>


    </article>
</main>


<app-footer>
    
</app-footer>
