
header{

    position: relative;
    box-sizing: border-box;
    width: 100%; 

    min-height: 100vh;

    
    color: white;

    background-image: linear-gradient(358.99deg, rgba(0, 0, 0, 6e-05) -4.3%, rgba(22, 28, 45, 0.6) 102.84%) ,  url('../../assets/nousBg.png');

    background-blend-mode: multiply;

    background-size: cover;
    background-position: center;


    /* aspect-ratio: 4096/9 */

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    
}

header h1{
    position: absolute;
    bottom: 50px;

    font-size: 80px;
    font-weight: 700;

}






main{

    max-width: 1750px;
    padding: 0 0 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article h2 {
    padding: 0 10% 0 10%;

    font-size: 1.5vw;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}

main article p {

    box-sizing: border-box;
    padding: 0 10% 0 10%;
    font-size: 1vw;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;


}



@media (max-width: 2342px){

    header{
        min-height: 100vh;
    }


}


@media (max-width: 1959px){

    header{
        min-height: 80vh;
    }
}


@media (max-width: 1773px){
    
        header{
            min-height: 70vh;
        }
}



@media (max-width: 1528px){
    
    header{
        min-height: 60vh;
    }
}

@media (max-width: 1198px){
    
    header{
        min-height: 50vh;
    }
}

@media (max-width: 1052px){
    
    header{
        min-height: 45vh;
    }
}

@media (max-width: 970px){
    
    header{
        min-height: 40vh;
    }
}

@media (max-width: 815px){
    
    header{
        min-height: 30vh;
    }
}

@media (max-width: 642px){
    
    header{
        min-height: 25vh;
    }
}

@media (max-width: 512px){
    
    header{
        min-height: 20vh;
        aspect-ratio: 19/9;
    }
}


@media (max-width: 430px){
    
    header{
        min-height: 15vh;
    }
}







/* Taille des  polices d'articles */

@media (max-width: 1004px){
    main article h2 {
        font-size: 2.5vw;
        line-height: 38.4px;
    }

    main article p {
        font-size: 2vw;
        line-height: 2;
    }
}





/* Taille des  polices d'articles sur mobile */

@media (max-width: 425px){
    main article h2 {
        font-size: 4vw;
        line-height: 38.4px;
    }

    main article p {
        font-size: 3.5vw;
        line-height: 2;
    }
}
